/* This CSS file contains font and color styling */
/* Inline Bootstrap classNames were used for spacing and sizing */

/* Except this element: 
This thing right here can't be touched by inline bootstrap so here it is */
.carousel-inner{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Lobster', cursive;
}

.main {
  background-color: #2d829e !important;
  border-color: #8eced5 !important;
}

label {
  background-color: #d2eded;
}

img {
  border: thick #eb9ab4 solid;
}

button {
  background-color: #c0d34b !important;
  border: #c0d34b !important;
  font-weight: bold !important;
}

.list-group-item {
  background-color: #d2eded !important;
  border-color: #8eced5 !important;
}

code {
  color: inherit !important;
}